
<div class="month col-md-5">{{todayDate | date:'MMMM'}}</div>
<div class="container col-md-12">

<table class="table table-striped table-bordered table-sm">
  <thead>
  <tr>
    <th>#</th>
    <th *ngFor="let day of currentMonthDays" >{{day.dayNumber}}<br>{{day.dayName}}</th>
  </tr>
  </thead>
  <tbody>
  <th scope="row">Totale</th>
  <tr *ngFor="let row of columns">
    <th scope="row"></th>
    <td *ngFor="let cell of rows" (click)="say(row+cell)"></td>
  </tr>
  </tbody>
</table>
</div>

<!--Questa è da mettere nella visualizzazione delle macro, non qui-->
<!--<div class="container col-md-2 ">-->
<!--  <div class="custom-view">-->
<!--    <select name="view-interval" id="view-interval">-->
<!--      <option value="annual">Anno</option>-->
<!--      <option value="monthly">Mese</option>-->
<!--    </select>-->
<!--  </div>-->
<!--</div>-->
