<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" routerLink="/report">
    <img class="loginImgWidth" src="https://auth.certimetergroup.com/assets/img/logo_certimetergroup_1200.png" alt="Certimeter Group">
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>


  <div class="collapse  navbar-collapse" id="navbarSupportedContent">
    <ul class=" navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="/report">Report<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/macro">Macro</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/dashboard">Dashboard</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/profile">Profilo</a>
      </li>
      <li class="nav-item dropdown">
        <div class="nav-link dropdown-toggle" routerLink="home" id="navbarDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Può servire?
        </div>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">prova1</a>
          <a class="dropdown-item" href="#">prova 2</a>
          <a class="dropdown-item" href="#">prova 3</a>
        </div>
      </li>
    </ul>
    <button class="btn"(click)="logout()">Logout</button>
  </div>
</nav>
