<app-navbar [userRole] = "userRole"></app-navbar>
<div class="container" *ngIf="currentUser; else loggedOut">
    <h2>
      Profilo Personale

    </h2>

  <h4>{{ currentUser.lastname }} {{currentUser.name}}</h4>
<br>
  <p>
    <strong>Email:</strong>
    {{ currentUser.email }}
  </p>
  <p>
    <strong>Ruolo:</strong>
    {{ currentUser.defaultRole}}
  </p>
  <div class="dropdown">
    <button class="btn btn-sm btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Modifica ruolo
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
      <div *ngFor="let role of currentUser.roles">
      <button class="dropdown-item"  (click)="changeRole(role)">{{role}}</button>
      </div>
    </div>
  </div>




</div>

<ng-template #loggedOut>
  Please login.
</ng-template>
