/* You can add global styles to this file, and also import other style files */
html, body {
  font-family: "Lato",sans-serif !important;
  background-color: #F8F9FA !important;
  height: 100%;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
