.no-padding {
  padding: 0 !important;
}

input:focus {
  border-color: rgba(10, 21, 135, 0.55);
  box-shadow: 0 0 10px #719ECE;
}

input{
  border: none;
  border-bottom: 1px solid #3f84d9;
  border-radius: 0;
}
