<div class="container col-md-12">

  <div class="row top-calendar-buttons">

    <div class="col-md-6">
      <app-datepicker (newToDateSelected)="getNewToInput($event)"></app-datepicker>
    </div>
    <div class="col-md-2 offset-2">
      <div class="download-excel">
        <button type="button" (click)="exportExcel()" class="btn btn-sm btn-success">Download</button>
      </div>
    </div>
  </div>


  <table class="table table-striped table-bordered">

    <thead>
    <tr>
      <th>#</th>
      <th *ngFor="let date of dashboardColumns">
        <div *ngIf="columnRangeDisplay[0]==true">
            {{date.dayNumber}}<br>{{date.dayName}}
        </div>
        <div *ngIf="columnRangeDisplay[1]==true">
            {{date.firstDay}}<br>{{date.lastDay}}
        </div>
        <div *ngIf="columnRangeDisplay[2]==true">
            {{date.monthName}}
        </div>
        <div *ngIf="columnRangeDisplay[3]==true">
            {{date.dayNumber}}<br>{{date.dayName}}
        </div>
      </th>

      <th>Totale</th>
    </tr>
    </thead>

    <tbody>
    <tr>
      <th scope="row">Totale</th>
      <td *ngFor="let cell of dashboardColumns"><!-- (click)=""--> </td>
      <td></td>
    </tr>
    <tr *ngFor="let content of tableHeaders|keyvalue">
      <th class="row-header">
        <a routerLink='{{link}}{{content.key}}'>
          {{content.value}}
        </a>
      </th>
      <!--TODO: inserire anchor alla macro-->
      <td *ngFor="let cell of dashboardColumns"><!-- (click)=""--></td>
      <td></td>
    </tr>

    </tbody>
  </table>
</div>
<!--TODO: inserire highlight(validazione) su totale ore-->
