<div class="container col-md-12">

  <div class="row top-calendar-buttons">

    <div class="col-md-4">
      <app-datepicker (newToDateSelected)="getNewToInput($event)"></app-datepicker>
    </div>
    <div class="col-md-2 offset-6">
      <div class="download-excel">
        <button type="button" (click)="exportExcel()" class="btn btn-sm btn-success">Download</button>
      </div>
    </div>
  </div>


  <table class="table table-striped table-bordered">

    <thead>
    <tr>
      <th>#</th>
      <th *ngFor="let date of dashboardColumns">
        <div *ngIf="columnRangeDisplay[0]==true">
            {{date.dayNumber}}<br>{{date.dayName}}
        </div>
        <div *ngIf="columnRangeDisplay[1]==true">
           Da  {{date.firstDay.dayNumber}}/{{date.firstDay.fullDate.getMonth()+1}}
          <br> A {{date.lastDay.dayNumber}}/{{date.lastDay.fullDate.getMonth()+1}}
        </div>
        <div *ngIf="columnRangeDisplay[2]==true">
            {{date.monthName}}
        </div>
        <div *ngIf="columnRangeDisplay[3]==true">
            {{date.fullYear}}
        </div>
      </th>

      <th>Totale</th>
    </tr>
    </thead>

    <tbody>
    <tr>
      <th scope="row">Totale</th>
      <td *ngFor="let cell of totalPerDay"> {{cell}}</td>
      <td>{{totalSum}}</td>
    </tr>
    <tr *ngFor="let content of tableHeaders|keyvalue; let i = index">

      <th class="row-header">
        <a routerLink=''> {{content.value}} </a>
      </th>

        <td *ngFor="let cell of workingHours.get(content.key)"> {{cell}} </td>

      <td id="totalAmount">{{totalAmountPerMacro[i]}}</td>

    </tr>
    </tbody>
  </table>
</div>
<!--TODO: inserire highlight(validazione) su totale ore-->
