.row, .card{
  margin: 20px
}

.card-header{
  background-color: #3cb0f8;
  color: white;
}

.scrollbox {
  height:200px;
  overflow:scroll;
}

.modal-header{
  background-color: #3cb0f8;
  color: white;
}

.rounded-circle{
  width: 80px;
  height: 80px;
  margin: auto;
  margin-left: 50px;
  background-color: #3cb0f8;
}

.dropdown-toggle{
  background-color: #3cb0f8;
  color: white;
}

tag-input-dropdown{
  z-index:2000  !important;
}

